<body id="top">

<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <%= render partial: 'shared/header' %>
  <!-- HOME -->
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('/assets/hero_1.jpg');" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Candidate's Testimonials</h1>
          <div class="custom-breadcrumbs">
            <a href="#">Home</a> <span class="mx-2 slash">/</span>
            <span class="text-white"><strong>Testimonials</strong></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section" id="next-section">
    <div class="container">

      <% if StaticPage.last.present? %>
        <%= StaticPage.last.testimonial.html_safe %>
      <% else %>
        <%= render partial: 'dashboards/testmonials' %>

      <% end %>
    </div>
  </section>

</div>