<div class="col-lg-5 ml-auto">
  <div class="accordion-item">
    <h3 class="mb-0 heading">
      <a class="btn-block h4" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="true" aria-controls="collapseFive">What
        is the name of your company<span class="icon"></span></a>
    </h3>
    <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="body-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quae cumque perspiciatis
          aperiam accusantium facilis provident aspernatur nisi optio debitis dolorum, est eum eligendi vero aut
          ad necessitatibus nulla sit labore doloremque magnam! Ex molestiae, dolor tempora, ad fuga minima enim
          mollitia consequuntur, necessitatibus praesentium eligendi officia recusandae culpa tempore eaque
          quasi ullam magnam modi quidem in amet. Quod debitis error placeat, tempore quasi aliquid eaque vel
          facilis culpa voluptate.</p>
      </div>
    </div>
  </div> <!-- .accordion-item -->

  <div class="accordion-item">
    <h3 class="mb-0 heading">
      <a class="btn-block h4" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">How
        much pay for 3 months?<span class="icon"></span></a>
    </h3>
    <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="body-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque
          enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero,
          excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis,
          quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
      </div>
    </div>
  </div> <!-- .accordion-item -->

  <div class="accordion-item">
    <h3 class="mb-0 heading">
      <a class="btn-block h4" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven">Do
        I need to register? <span class="icon"></span></a>
    </h3>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="body-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque
          enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero,
          excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis,
          quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
      </div>
    </div>
  </div> <!-- .accordion-item -->

  <div class="accordion-item">
    <h3 class="mb-0 heading">
      <a class="btn-block h4" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">Who
        should I contact in case of support.<span class="icon"></span></a>
    </h3>
    <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="body-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque
          enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero,
          excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis,
          quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
      </div>
    </div>
  </div> <!-- .accordion-item -->

</div>