<div class="row">
  <div class="col-lg-6">
    <div class="block__87154 bg-white rounded">
      <blockquote>
        <p>&ldquo;Ipsum harum assumenda in eum vel eveniet numquam cumque vero vitae enim cupiditate deserunt
          eligendi officia modi consectetur. Expedita tempora quos nobis earum hic ex asperiores quisquam optio
          nostrum sit&rdquo;</p>
      </blockquote>
      <div class="block__91147 d-flex align-items-center">
        <figure class="mr-4"><img src="/assets/person_1.jpg" alt="Image" class="img-fluid"></figure>
        <div>
          <h3>Elisabeth Smith</h3>
          <span class="position">Creative Director</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="block__87154 bg-white rounded">
      <blockquote>
        <p>&ldquo;Ipsum harum assumenda in eum vel eveniet numquam, cumque vero vitae enim cupiditate deserunt
          eligendi officia modi consectetur. Expedita tempora quos nobis earum hic ex asperiores quisquam optio
          nostrum sit&rdquo;</p>
      </blockquote>
      <div class="block__91147 d-flex align-items-center">
        <figure class="mr-4"><img src="/assets/person_2.jpg" alt="Image" class="img-fluid"></figure>
        <div>
          <h3>Chris Peter</h3>
          <span class="position">Web Designer</span>
        </div>
      </div>
    </div>
  </div>


</div>